<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Contate-me </h3>
                    <ul class="social">
                        <li> <img height="32px" width="32px" src="../../assets/icons/_ionicons_svg_logo-facebook.svg" alt="">  <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <img height="32px" width="32px" src="../../assets/icons/_ionicons_svg_logo-instagram.svg" alt="">  <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <img height="32px" width="32px" src="../../assets/icons/_ionicons_svg_logo-linkedin.svg" alt="">  <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Todos os direitos reservados a Isaac Cardoso. </p>
            </div>
    </div>
    <!--/.footer-bottom--> 
</footer>