<div class="container">
    <div class="offset-2 col-8 mt-5">







      <div class="card cartao-login bg-gray" >
<div class="text-center mt-2">

  <img width="64px" height="64px" src="../../assets/icons/_ionicons_svg_md-create.svg" alt="">
</div>

        <div class="card-body">
          <div class="text-center">
  
          </div>
  
          <h4 class="card-title text-center">Editar médico</h4>


          <div class="jumbotron">
              <p class="lead">  Para editar um médico você precisará busca-lo segundo o CPF dele.
            </p>
            <div  [hidden]="CPFexiste" class="alert alert-danger">Este CPF não está cadastrado</div>

            <form class="form-inline">
                <div class="form-group">
                  <label class="mr-3" for="">CPF:</label>
                  <input [(ngModel)]="CPFbusca" type="text" name="CPF" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  <button (click)="buscar()" type="button" class=" ml-2 btn btn-primary btn-md">
                    <img height="32px" width="32px" src="../../assets/icons/_ionicons_svg_md-search.svg" alt="">
                    Buscar</button>
          
                </div>
              </form>
            </div>
  
          <div class="form-group">
            <label for="">nome</label>
            <input [readonly]="!podeEditar" [(ngModel)]="nome" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
  
          <div class="form-group">
            <label for="">CRM</label>
            <input [readonly]="!podeEditar" [(ngModel)]="CRM" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">

          </div>
          <div class="form-group ">
              <label for="inputState">Período de atendimento</label>
              <select [hidden]="!CPFexiste" [(ngModel)]="periodoAtendimento" id="inputState" class="form-control">
                <option selected>Matutino</option>
                <option>Vespertino</option>
                <option>Noturno</option>
              </select>
            </div>

          
            <div class="form-group">
                <label for="">CPF</label>
                <input [readonly]="!podeEditar" [(ngModel)]="CPF" type="number" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>

              <div class="form-group">
                  <label for="">Prédio de atendimento</label>
                  <input [readonly]="!podeEditar" [(ngModel)]="predio"  type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
  
                <div class="form-group">
                    <label for="">Setor de atendimento</label>
                  <input [readonly]="!podeEditar" [(ngModel)]="setor" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
    
    
  



          <button type="button" class=" ml-2 btn btn-primary btn-lg">Salvar</button>
  
        </div>
  
  
  
  </div>
    </div>
  
  
  
  </div>
  