<div class="container">
    <div class=" col-12 mt-5">
  
      <div class="card cartao-login bg-gray" >
<div class="text-center mt-2">

  <img width="64px" height="64px" src="../../assets/icons/_ionicons_svg_md-search.svg" alt="">
</div>

        <div class="card-body">
          <div class="text-center">
  
          </div>
  
          <h4 class="card-title text-center">Consultar médico</h4>


<table class="table  table-inverse ">
  <thead class="thead-inverse">
    <tr>
      <th>nome</th>
      <th>CRM</th>
      <th>Período de atendimento</th>
      <th>CPF</th>
      <th>Predio</th>
      <th>Setor</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>

      </tr>
      <tr>
        <td scope="row">b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>
        <td>b</td>
      </tr>
    </tbody>
</table>
  
        </div>
  
  
  
  </div>
    </div>
  
  
  
  </div>
  



