<div class="container">
  <div class="offset-2 col-8 mt-5">

    <div class="card cartao-login bg-gray">
      <div class="text-center mt-2">

        <img width="64px" height="64px" src="../../assets/icons/_ionicons_svg_md-add-circle-outline.svg" alt="">
      </div>

      <div class="card-body">
        <div class="text-center">

        </div>

        <h4 class="card-title text-center">Criar médico</h4>

        <form [formGroup]="medicoFormulario" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="">nome</label>
            <input  formControlName="nome"  type="text" name="nome" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>

          <div class="form-group">
            <label for="">CRM</label>
            <input formControlName="CRM"  type="text" name="CRM" id="" class="form-control" placeholder="" aria-describedby="helpId">

          </div>
          <div class="form-group ">
            <label for="inputState">Período de atendimento</label>
            <select formControlName="periodoAtendimento"  name="periodoAtendimento" id="inputState" class="form-control">
              <option selected>Matutino</option>
              <option>Vespertino</option>
              <option>Noturno</option>
            </select>
          </div>


          <div class="form-group">
            <label for="">CPF</label>
            <input formControlName="CPF"  type="number" name="CPF" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>

          <div class="form-group">
            <label for="">Prédio de atendimento</label>
            <input formControlName="predio"  type="text" name="predio" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>

          <div class="form-group">
            <label for="">Setor de atendimento</label>
            <input formControlName="setor"  type="text" name="setor" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>


          <button type="submit" class=" ml-2 btn btn-primary btn-lg">Salvar</button>

        </form>
      </div>



    </div>
  </div>



</div>
